#headerContainer {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #link {

        text-decoration: none;

    }

    #logo {
        border-radius: 8px;
        text-transform: uppercase;
        color: #1a1919;
        font-size: 3.6rem;
    }
}

#tinyhouse {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

#line {
        
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 185px;
    border-color: #1a1919;
    border-radius: 50px;
}

#infoboks {
    position: absolute;
    top: 700px;
    left: 50%;
    text-align: center;
    padding-block: 1rem;
   
    transform: translate(-50%);

    #infoboks_h3 {
        width: 65ch;
        color: rgb(20, 48, 13);
        font-size: 1rem;
        filter: drop-shadow(1px 1px 29px rgb(20, 48, 13));
    }
}