#flexContainer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.5rem;

    #klimahus {
        border-radius: 8px;
        width: 900px;
        height: 700px;
    }

    #line {
        display: flex;
        width: 185px;
        border-color: #1a1919;
        border-radius: 50px;
    }

    #infoboks {
        display: flex;
        text-align: center;
        -webkit-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: center;
        align-self: center;
        padding-block: 1rem;

        #infoboks_h3 {
            width: 65ch;
            color: rgb(20, 48, 13);
            font-size: 1rem;
          
        }
    }
}

#koncept {
    position: absolute;
    top: 0;
    right: 10px;
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    padding-inline: 2rem;
    padding-top: 1rem;

    &:hover {
        text-decoration: underline;
    }
    
}